.open-btn {
  color: #fff;
  position: fixed;
  z-index: 50;
  bottom: 20px;
  right: 0;
  display: block;
  border: 1px solid #fff;
  padding: 3px 6px;
  border-radius: 4px;
  cursor: pointer;
  transition: right 0.5s ease-in-out;
}
.infos {
  position: fixed;
  z-index: 50;
  bottom: 20px;
  right: -120%;
  color: #000;
  background-color: darkturquoise;
  font-size: 18px;
  line-height: 2;
  border-radius: 4px;
  padding: 5px;
  transition: right 0.5s ease-in-out;
}
.right-0 {
  right: 0;
}
.right-250 {
  right: 250px;
}
form {
  padding: 60px;
  margin-left: 60px;
}
form .form-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
form .form-content  > div input {
  width: 600px;
  height: 40px;
  padding: 10px;
  background: none;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  border-radius: 6px;
  margin-bottom: 20px;
}
@media screen and (max-width: 599px) {
  form .form-content  > div input {
    width: 250px;
  }
}
form .form-content  > div p{
  background-color: #F8D7DA;
  color: #f00;
  padding: 15px;
  width: fit-content;
  border-radius: 6px;
  display: none;
}
form .form-content  > div div {
  margin-bottom: 20px;
}
form input[type='submit'] {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 10px 15px;
  background: #F8D7DA;
  color: #f00;
  outline: none;
  border: 1px solid #fff;
  border-radius: 6px;
  opacity: 0.5;
  cursor:no-drop
}
.set {
  opacity: 1 !important;
  cursor: pointer !important;
}